// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

pre
  text-align left
  color #49ed49
  background-color black

/*
.deck
  text-align center

.bespoke-parent
  color: lightgreen

.bespoke-slide
  background-color: black !important

h3
  font-style normal
*/

// Base styles

@import 'normalizecss/normalize.css'
